*::-webkit-input-placeholder {
	color: #888;
	opacity: 1;
}
*:-moz-placeholder {
	color: #888;
	opacity: 1;
}
*::-moz-placeholder {
	color: #888;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #888;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RalewayRegular", sans-serif;
	font-size: 16px;
	background-color: #ccc;
}

body, html {
	height: 100%;
	color: #fff;
}

h2{
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: 2px;
	font-family: "RalewaySemiBold";
}



/*
================================================
Header
================================================
*/

header{
	background: url(../img/img_parallax.jpg);
	min-height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}

.name	{
	position: absolute;
	text-align: center;
	display: block;
	top: 40%;
	left: 35%;
}

.name h1{
	text-transform: uppercase;
	font-family: "RalewayBold";
	color: #fff;
	border: 8px solid #fff;
	padding: 10px 40px;
	font-size: 2.8em;
	animation-delay: 0.2s;
}

.name p{
	color: #FAFAFA;
	letter-spacing: 5px;
	text-transform: uppercase;
	text-align: center;
	animation-delay: 0.2s;
}

.toggle-mnu {
	float: right;
	border: 1px solid transparent;
	background-color: transparent;
	width: 50px;
	height: 50px;
	font-size: 42px;
	position: relative;
	margin-top: 20px;
	z-index: 60;
}

.top-mnu {
	position: fixed;
	min-width: 15%;
	height: 100%;
	background-color: rgba(0,0,0,.9);
	z-index: 50;
	left: 0;
	top: 0;
	display: none;
}

.top-mnu ul {
	margin-top: 100px;
	text-align: center;
	padding: 0;
}

.top-mnu li{
	text-transform: uppercase;
}

.top-mnu li a{
	display: block;
	width: 100%;
	height: 60px;
	padding-top: 18px;
	color: #fff;
	font-size: 16px;
	outline: none;
}

.top-mnu li a:hover{
	background-color: rgba(255, 255, 255, .1);
	transition: all 0.8s ease;
	/*color: #9F783F;*/
	color: #FF6347;
}

.top-mnu li:nth-child(1){
	animation-delay: 0.1s;
}

.top-mnu li:nth-child(2){
	animation-delay: 0.2s;
}

.top-mnu li:nth-child(3){
	animation-delay: 0.3s;
}

.top-mnu li:nth-child(4){
	animation-delay: 0.4s;
}

.sandwich {
	width: 30px;
	height: 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.sw-topper {
	position: relative;
	top: 0;
	width: 35px;
	height: 5px;
	background: #fff;
	border: none;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.1s;
}

.sw-bottom {
	position: relative;
	width: 35px;
	height: 5px;
	top: 5px;
	background: #fff;
	border: none;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.1s;
}

.sw-footer {
	position: relative;
	width: 35px;
	height: 5px;
	top: 10px;
	background: #fff;
	border: none;
	transition: all 0.5s;
	transition-delay: 0.1s;
}

.sandwich.active .sw-topper {
	top: 10px;
	transform: rotate(140deg);
}

.sandwich.active .sw-bottom {
	top: 5px;
	transform: rotate(-140deg);
}

.sandwich.active .sw-footer {
	opacity: 0;
	top: 0;
	transform: rotate(180deg);
}


/* 
=================================================================
About me
=================================================================
*/

.portfolio{
	min-height: 700px;
	background-color: #222222;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.portfolio .topic{
	padding: 60px 0px 30px 0px;
	margin-bottom: 50px;
	text-align: center;
}

.portfolio .topic p{
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-family: "RalewaySemiBold";
}

.portfolio .topic hr{
	width: 150px;
	margin: 30px auto;
	background-color: #fff;
}

.review{
	opacity: 0;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.6);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	transition: all .5s;
}

.review h3{
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 3px;
	color: #fff;
	padding-bottom: 15px;
	padding-top: 55px;
}

.review a{
	display: inline-block;
	width: 130px;
	height: 30px;
	border: 1px solid #fff;
	padding-top: 2px;
	color: #fff;
}

.review a:hover{
	border: 1px solid #FF6347;
	color: #FF6347;
	transition: all 0.3s ease;
}

.carousel .item{
	margin: 5px;
	position: relative;
}

.carousel .item img{
	display: block;
	width: 100%;
	height: 230px;
	height: auto;
}

.carousel .item:hover .review{
	opacity: 1;
}  

.owl-page{
	position: relative;
	left: 45%;
	display: inline-block;
	text-align: center;
	width: 12px;
	height: 12px;
	margin: 35px 10px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #867a76;
}

.owl-pagination .active{
	background: #FF6347;
}


/* 
==========================================================
Contacts
==========================================================
*/

.contacts{
	min-height: 850px;
	background-color: #fdfdfd;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	color: #000;
}

.contacts .topic{
	padding: 60px 0px 30px 0px;
	margin-bottom: 50px;
	text-align: center;
	color: #000;
}

.contacts .topic p{
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-family: "RalewaySemiBold";
}

.contacts .topic hr{
	width: 150px;
	margin: 30px auto;
	border: 1px solid #000;
}

.contact{
	margin-bottom: 50px;
}

.contact p{
	color: #222;
}

.contact span{
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 2px;

}

.contact i{
	padding-right: 5px;
	color: #FF6347;
}

.form-group{
	display: block;
}

.form-group input, textarea{
	display: block;
	width: 100%;
	border:1px solid #ccc;
	margin-top: 5px;	
	margin-bottom: 20px;
	line-height: 40px;
	text-indent: 10px;
	letter-spacing: 2px;
	color: #888;
}

.form-group input:focus, textarea:focus{
 border:1px solid #FF6347;
}

.main-form button{
	background-color: #FF6347;
	border: none;
	color: #fff;
	line-height: 40px;
	padding: 0 20px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
}

.help-block{
	
}
