*::-webkit-input-placeholder {
	color: #888;
	opacity: 1;
}
*:-moz-placeholder {
	color: #888;
	opacity: 1;
}
*::-moz-placeholder {
	color: #888;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #888;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RalewayRegular", sans-serif;
	font-size: 16px;
	background-color: #ccc;
}

body, html {
	height: 100%;
	color: #fff;
}

h2{
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: 2px;
	font-family: "RalewaySemiBold";
}

.pseudo-row{
	margin-left: -15px;
	margin-right: -15px;
}
/*
=============================================== 
Preloader
===============================================
*/

.preloader {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #222;
	z-index: 99999;
}

.spinner {
	width: 150px;
	height: 150px;
	position: absolute;
	left: 50%;
	top: 50%;
	background: url("../img/ring-alt.gif") no-repeat 50% 50%;
	margin: -75px 0 0 -75px;
}

/*
================================================
Header
================================================
*/

header{
	background: url(../img/header-background.jpg);
	min-height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}

.name	{
	/*position: absolute;
	text-align: center;
	top: 40%;
	left: 35%;*/
	text-align: center;
	display: block;
	position: static ;
	margin: 20% auto;
	width: 40%;

}

.name h1{
	text-transform: uppercase;
	font-family: "RalewayBold";
	color: #fff;
	border: 8px solid #fff;
	padding: 10px 40px;
	font-size: 2.8em;
	animation-delay: 0.2s;
}

.name p{
	color: #FAFAFA;
	letter-spacing: 5px;
	text-transform: uppercase;
	text-align: center;
	animation-delay: 0.2s;
	font-family: "RalewaySemiBold";
}

.toggle-mnu {
	border: none;
	background-color: transparent;
	width: 50px;
	height: 50px;
	font-size: 42px;
	position: fixed;
	top: 3%;
	right: 10%;
	z-index: 60;
	outline: none;
}

.top-mnu {
	position: fixed;
	min-width: 15%;
	height: 100%;
	background-color: rgba(0,0,0,.9);
	z-index: 50;
	left: 0;
	top: 0;
	display: none;
}

.top-mnu ul {
	margin-top: 100px;
	text-align: center;
	padding: 0;
}

.top-mnu li{
	text-transform: uppercase;
}

.top-mnu li a{
	display: block;
	width: 100%;
	height: 60px;
	padding-top: 18px;
	color: #fff;
	font-size: 16px;
	outline: none;
}

.top-mnu li a:hover{
	background-color: rgba(255, 255, 255, .1);
	transition: all 0.8s ease;
	/*color: #9F783F;*/
	color: #FF6347;
}

.top-mnu li:nth-child(1){
	animation-delay: 0.1s;
}

.top-mnu li:nth-child(2){
	animation-delay: 0.2s;
}

.top-mnu li:nth-child(3){
	animation-delay: 0.3s;
}

.top-mnu li:nth-child(4){
	animation-delay: 0.4s;
}

.sandwich {
	width: 30px;
	height: 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.sw-topper {
	position: relative;
	top: 0;
	width: 35px;
	height: 5px;
	background: #fff;
	border: none;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.1s;
}

.sw-bottom {
	position: relative;
	width: 35px;
	height: 5px;
	top: 5px;
	background: #fff;
	border: none;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.1s;
}

.sw-footer {
	position: relative;
	width: 35px;
	height: 5px;
	top: 10px;
	background: #fff;
	border: none;
	transition: all 0.5s;
	transition-delay: 0.1s;
}

.sandwich.active .sw-topper {
	top: 10px;
	transform: rotate(140deg);
}

.sandwich.active .sw-bottom {
	top: 5px;
	transform: rotate(-140deg);
}

.sandwich.active .sw-footer {
	opacity: 0;
	top: 0;
	transform: rotate(180deg);
}


/* 
=================================================================
Caption
=================================================================
*/
.caption{
	text-align: center;
	background-color: #222222;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.caption .topic{
	padding: 20px 0px 30px 0px;
	text-align: center;
}

.caption .topic p{
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-family: "RalewaySemiBold";
}

.caption .topic hr{
	width: 150px;
	margin: 20px auto;
	background-color: #fff;
}


/* 
=================================================================
About me
=================================================================
*/
.about-me{
	min-height: 500px;
	background: url(../img/header-background.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.about-me-content{
	min-height: 350px;
	width: 100%;
	margin: 70px auto;
	background-color: rgba(0, 0, 0, .6);
	padding-top: 30px;
}

.about-me-content img{
	display: block;
	margin: 0px auto;
	height: 150px;
	width: 150px;
	border:1px solid transparent;
	border-radius: 360px;
}


.about-me-content p{
	text-align: center;
	margin: 20px auto;
	width: 75%;
}



/* 
=================================================================
Resume
=================================================================
*/

.resume{
	min-height: 500px;
	background: url(../img/header-background.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.resume-content{
	min-height: 350px;
	width: 100%;
	margin: 70px auto;
	background-color: rgba(0, 0, 0, .6);
}

.resume-content ul{
	list-style-type: none;
	margin-top: 20px;
}

.resume-content h2{
	margin: 0;
	padding: 0;
}

.knowledge li{	
	padding: 29px 0px 0px 60px;
	font-size: 18px;
	font-family: "RalewaySemiBold";
	letter-spacing: 2px;
}

.knowledge li i{	
	padding-right: 5px;
}

/* skils */

.skills-bar-container{
	margin: 20px auto;
	width: 80%;
	min-width: 300px;
	list-style: none;
}

.skills-bar-container h3{
	font-family: "RalewaySemiBold";
	letter-spacing: 2px;
}

.skills-bar-container li {
	position: relative;
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
}
.skills-bar-container li .progressbar-title {
	color: #fff;
}
.skills-bar-container li .progressbar-title h3 {
	display: inline-block;
}
.skills-bar-container li .progressbar-title .percent {
	position: absolute;
	top: 25px;
	right: 5px;
}
.skills-bar-container li .bar-container {
	background: #555;
	position: relative;
	width: 100%;
	height: 5px;
	margin-top: 5px;
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}
.skills-bar-container li .bar-container .progressbar {
	position: absolute;
	width: 0%;
	height: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.skills-bar-container li .bar-container #progress-html {
	-webkit-animation-name: progress-html;
	animation-name: progress-html;
	-webkit-animation-delay: 1.6s;
	animation-delay: 1.6s;
}
.skills-bar-container li .bar-container #progress-css {
	-webkit-animation-name: progress-css;
	animation-name: progress-css;
	-webkit-animation-delay: 2.3s;
	animation-delay: 2.3s;
}
.skills-bar-container li .bar-container #progress-javascript {
	-webkit-animation-name: progress-javascript;
	animation-name: progress-javascript;
	-webkit-animation-delay: 3s;
	animation-delay: 3s;
}

.progressred {
	background-color: #c0392b;
}

.progressblue {
	background-color: #1199ff;
}

.progresspurple {
	background-color: #9b59b6;
}

@-webkit-keyframes progress-html {
	0% {
		width: 0%;
	}
	100% {
		width: 70%;
	}
}
@-webkit-keyframes progress-css {
	0% {
		width: 0%;
	}
	100% {
		width: 70%;
	}
}
@-webkit-keyframes progress-javascript {
	0% {
		width: 0%;
	}
	100% {
		width: 40%;
	}
}

@-moz-keyframes progress-html {
	0% {
		width: 0%;
	}
	100% {
		width: 70%;
	}
}
@-moz-keyframes progress-css {
	0% {
		width: 0%;
	}
	100% {
		width: 70%;
	}
}
@-moz-keyframes progress-javascript {
	0% {
		width: 0%;
	}
	100% {
		width: 40%;
	}
}

@keyframes progress-html {
	0% {
		width: 0%;
	}
	100% {
		width: 70%;
	}
}
@keyframes progress-css {
	0% {
		width: 0%;
	}
	100% {
		width: 70%;
	}
}
@keyframes progress-javascript {
	0% {
		width: 0%;
	}
	100% {
		width: 40%;
	}
}




/*
=================================================================
Portfolio
=================================================================
*/

.portfolio{
	min-height: 700px;
	background-color: #222222;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.portfolio .topic{
	padding: 60px 0px 30px 0px;
	margin-bottom: 50px;
	text-align: center;
}

.portfolio .topic p{
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-family: "RalewaySemiBold";
}

.portfolio .topic hr{
	width: 150px;
	margin: 20px auto;
	background-color: #fff;
}

.review{
	opacity: 0;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.6);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	transition: all .5s;
}

.review h3{
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 3px;
	color: #fff;
	padding-top: 55px;
	font-family: "RalewaySemiBold";
}

.review a{
	display: inline-block;
	width: 140px;
	height: 40px;
	font-family: "RalewaySemiBold";
	border: 3px solid #fff;
	letter-spacing: 2px;
	padding-top: 5px;
	color: #fff;
}

.review a:hover{
	border: 3px solid #FF6347;
	color: #FF6347;
	transition: all 0.3s ease;
}

.carousel .item{
	margin: 5px;
	position: relative;
}

.carousel .item img{
	display: block;
	width: 100%;
	height: 220px;
	
}

.carousel .item:hover .review{
	opacity: 1;
}  

.owl-pagination{
	text-align: center;
}

.owl-page{
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 35px 10px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #867a76;
}

.owl-pagination .active{
	background: #FF6347;
}


/* 
==========================================================
Contacts
==========================================================
*/

.contacts{
	min-height: 800px;
	background-color: #fdfdfd;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	color: #000;
}

.contacts .topic{
	padding: 60px 0px 30px 0px;
	margin-bottom: 50px;
	text-align: center;
	color: #000;
}

.contacts .topic p{
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-family: "RalewaySemiBold";
}

.contacts .topic hr{
	width: 150px;
	margin: 20px auto;
	border: 1px solid #000;
}

.contact{
	margin: 10px 0px 40px 0px;
}

.contact p{
	color: #888;
	letter-spacing: 1px;
}

.contact span{
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 2px;

}

.contact i{
	padding-right: 5px;
	color: #FF6347;
}

.form-group{
	display: block;
}

.form-group span{
	font-size: 24px;
	color: #FF6347;
}

.form-group input, textarea{
	display: block;
	width: 100%;
	border:1px solid #ccc;
	margin-top: 5px;	
	margin-bottom: 20px;
	line-height: 40px;
	text-indent: 10px;
	letter-spacing: 2px;
	color: #888;
	outline: none;
}

.form-group input:focus, textarea:focus{
	border:1px solid #FF6347;
}

.main-form button{
	background-color: #FF6347;
	border: none;
	color: #fff;
	line-height: 40px;
	padding: 0 20px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
	margin: 10px 0px 20px 0px;
}


/*
============================================
Footer
============================================
*/

footer{
	min-height: 100px;
	background-color: #222222;
}

.info{
	padding-top: 20px;
}

footer small{
	float: left;
	padding-top: 25px;
	color: #888;
}

footer ul{
	list-style-type: none;
	float: right;
}

footer li{
	display: inline-block;
	font-size: 24px;
	padding-right: 15px;
}

footer li a{
	color: #FF6347;
}

footer li a:hover{
	font-size: 28px;
}