/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
.register p {
    padding-left: 23%;
}

.get_started button {
    width: 155px;
   }

 .square{
    position: absolute;
    top: -25px;
    right: 125px;
}

.arrow {
    position: absolute;
    bottom: -19px;
    right: 132px;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
 .register{
 	display: none;
 }

	.get_started button {
    width: 180px;
}

	.table_border{
		margin-bottom: 40px;
	}

.square {
    position: absolute;
    top: -25px;
    right: 47%;
}

.arrow {
    position: absolute;
    bottom: -19px;
    right: 48%;
}




}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.best_solution{
	position: inherit;
}

.browser-img{
    display: none;
    
}

.square {
    position: absolute;
    top: -25px;
    right: 47%;
}

.arrow {
    position: absolute;
    bottom: -19px;
    right: 48%;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}