*::-webkit-input-placeholder {
	color: #919191;
	text-transform: uppercase;
	font-family: "FiraSans-Light";
	opacity: 1;
}
*:-moz-placeholder {
	color: #919191;
	text-transform: uppercase;
	font-family: "FiraSans-Light";
	opacity: 1;
}
*::-moz-placeholder {
	color: #919191;
	text-transform: uppercase;
	font-family: "FiraSans-Light";
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #919191;
	text-transform: uppercase;
	font-family: "FiraSans-Light";
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	background-color: #212227;
}


button:active {
	transform: translateX(1px);
}

h1{
	font-family: "FiraSans-Light";
	font-size: 52px;
	font-weight: lighter;
	color: #000;
	line-height: 65px;
}

h2{
	font-family: "FiraSans-Regular";
	font-size: 24px;
	color: #666;
	text-transform: uppercase;
}

h3{
	font-family: "FiraSans-Light";
	font-size: 18px;
	color: #2ebd59;
	text-transform: uppercase;
	font-weight: lighter;
}

p{
	font-family: "FiraSans-Light";
	font-size: 26px;
	color: #fff;
}

/*
===================================================================
Header
===================================================================
*/

header{
	min-height: 985px;
	background: url(../images/SLANTED.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding-top: 100px;
	background-attachment: fixed;
	background-position: center;

}

.toggle-mnu{
	float: right;
	border: 1px solid transparent;
	background-color: transparent;
	width: 50px;
	height: 50px;
	font-size: 42px;
	position: relative;
	margin-top: 20px;
	z-index: 60;
}

.sandwich {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	float: right;
	margin-top: 10px;
	z-index: 200;
}

.sw-topper {
	position: relative;
	top: 0;
	width: 40px;
	height: 5px;
	background: #000;
	border: none;
	border-radius: 4px 4px 4px 4px;
	transition: transform 0.5s, top 0.2s;
	/* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
	position: relative;
	width: 40px;
	height: 5px;
	top: 5px;
	background: #000;
	border: none;
	border-radius: 4px 4px 4px 4px;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.2s, 0s;
}
.sw-footer {
	position: relative;
	width: 40px;
	height: 5px;
	top: 10px;
	background: #000;
	border: none;
	border-radius: 4px 4px 4px 4px;
	transition: all 0.5s;
	transition-delay: 0.1s;
}
.sandwich.active .sw-topper {
	top: 5px;
	transform: rotate(140deg);
}
.sandwich.active .sw-bottom {
	top: 0px;
	transform: rotate(-140deg);
}
.sandwich.active .sw-footer {
	opacity: 0;
	top: 0;
	transform: rotate(180deg);
}

.top-mnu{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.9);
	z-index: 50;
	right: 0;
	top: 0;
	display: none;
}

.top-mnu ul,li{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.top-mnu ul{
	margin-top: 200px;
	text-align: center;
}

.top-mnu a{
	color: #fff;
	font-size: 24px;
	display: block;
	padding: 20px 0;
	letter-spacing: 4px;
	outline: none;
}

.top-mnu a:hover{
	color: #207792;
	background-color: rgba(255,255,255,.1);
	transition: all 0.5s ease;
}

.name h1{
	padding-top: 120px;
}

.name p{
	font-size: 24px;
	color: #000;
	margin-left: 0px;
}

.name span{
	font-family: "FiraSans-Bold";
}

/*
==============================================================
Sport
==============================================================
*/
.sport{
	min-height: 400px;
}

.pseudo-row{
	margin: 0 -15px;
}

.sport img{
	width: 100%;
}

.sport h2{
	padding-top: 110px;
	padding-left: 0px;
}

.sport h2, p{
	margin-left: 40px;
	color: #fff;
}
/*
=============================================================================
Ski
==============================================================================
*/

.ski img{
	display: block;
	width: 100%;
	height: auto;
}


/*
===================================================================================
Instagram
===================================================================================
*/

.instargam{
	min-height: 300px;
	background-color: #3f729b;
}

.instargam p, h2{
	color: #fff;
	margin: 0;
}

.instargam h2{
	padding-bottom: 30px;
}

.instargam-content{
	padding-top: 10%;
	padding-left: 35%;
}

.instargam img{
	width: 50%;
	height: auto;
}

button{
	padding: 10px; 
	border: 2px solid #fff;
	border-radius: 60px;
	background: transparent;
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	font-family: "FiraSans-Regular";
	letter-spacing: 2px;
	margin-top: 25px;
	margin-left: 35%; 
}

/*
==========================================================================
Music
==========================================================================
*/

.music{
	min-height: 985px;
	background-color: #282b2f;
}

.music-content{
	min-height: 985px;
	background: url(../images/music.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.rage{
	min-height: 500px;
	max-width: 450px;
	background: #212227;
	padding-top: 100px;
	padding-left: 70px;
}

.rage h2{
	color: #2ebd59;
	line-height: 0px;
}

.rage p{
	margin: 0;
	color: #fff;
	font-size: 14px;
	font-family: "FiraSans-Regular";
}



.rage button{
	color: #2ebd59;
	border: 2px solid #2ebd59;
	margin: 50px 0;
	font-family: "FiraSans-Bold";
	font-size: 16px;
}


/*
==========================================================================
Music-player
==========================================================================
*/

.music-player{
	min-height: 490px;
}

.spotify{
	min-height: 490px;
	background: #2ebd59;
}

.itunes{
	min-height: 490px;
	background: #282b2f;
}

.spotify,
.itunes{
	padding: 120px 150px; 
}


.spotify button,
.itunes button{
	margin: 20px 10px;
}

.itunes button:hover{
	border: 2px solid #2ebd59;
	color: #2ebd59;
	transition: 0.5s;
}

.itunes button:active{
	transform: translateX(2px);
	transition: 1s;
}

.spotify button:hover{
	border: 2px solid #282b2f;
	color: #282b2f;
	transition: 0.5s;
}

.spotify button:active{
	transform: translateX(2px);
	transition: 1s;
}

.spotify p, h2,
.itunes p, h2{
	margin: 0;
	color: #fff;
	padding: 10px;
}


/*
==========================================================================
Footer
==========================================================================
*/

footer{
	min-height: 500px;
	background: #212227;
}

footer p{
	color: #919191;
	font-size: 14px;
	margin: 0;
}

footer h2{
	padding: 20px 0;
	font-size: 18px;
}

.about-me{
	padding: 60px 0  0 50px;
}

.about-me address{
	color: #919191;
	font-size: 14px;
	margin: 0;
	margin-bottom: 25px;
	font-style: normal;
}

.fallow-me{
	padding-top: 0px;
}

.about-me ul{
	margin: 0;
	padding: 0;
}

.about-me li{
	padding-bottom: 5px;
	word-spacing: 10px;
}

.about-me a{
	color: #919191;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	outline: none;
}

.about-me a:hover{
	color: #fff;
}

.subscribe {
	padding: 60px 0 0 0;
}

.subscribe input{
	margin-top: 20px;
	height: 50px;
	width: 450px;
	padding-left: 15px;
	border: 1px solid #4d4e52;
	background-color: #4d4e52;
}