/* font-family: "RobotoSlabRegular"; */
@font-face {
    font-family: "RobotoSlabRegular";
    src: url("../fonts/RobotoSlabRegular/RobotoSlabRegular.eot");
    src: url("../fonts/RobotoSlabRegular/RobotoSlabRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoSlabRegular/RobotoSlabRegular.woff") format("woff"),
    url("../fonts/RobotoSlabRegular/RobotoSlabRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
	font-family: "Montserrat-Bold";
	src:url(../fonts/Montserrat-Bold/Montserrat-Bold.ttf);
}

@font-face {
	font-family: "Montserrat-Regular";
	src:url(../fonts/Montserrat-Regular/Montserrat-Regular.ttf);
}