/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
.wrapper5{
	margin-left: 60px;
}

.w_message{
	width: 530px;
}

.send{
	margin-bottom: 40px;
}
.info{
	float: left;
	margin-left: 6px;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
.top_line_mnu ul{
	display: none;
}
.top_line_mnu li{
	margin-top: 30px;
}

.wrapper5{
	margin:40px 0px 40px 0px;
}

.info{
	float: left;
	margin-left: 6px;
}

.w_message{
	width: 530px;
}

.send{
	margin-bottom: 40px;
}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.top_line_mnu li{
	margin-right: 10px;
}



}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
.top_line_mnu ul{
	display: block !important;
}
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}