/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	.header-menu ul{
		display: none;
		margin: 0 auto;
	}

	.header-menu li{
		display: block;
		padding-bottom: 10px;
		text-align: center;
		padding-right: 40px;
	}

	.social-links{
		padding-bottom: 0px;
	}


	.social-links li{
		display: inline-block;
		padding-right: 20px;
	}

	.social-links li a{
		color: #000;
		font-size: 28px;
	}

	.about-us-background h2{
		left: 25%;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
	.about-us-background h2{
		left: 35%;
	}

	.about-us-content img {
    margin: 30px auto 20px;
}

	.team-caption h2{
		left: 20%;	
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.about-us-background h2{
		left: 30%;
		top: 35%;
	}

	.about-us-background h2{
		left: 25%;
	}

	.team-caption h2{
		left: 25%;	
	}

	.team-member-review{
		border-bottom: 2px solid #000;
		min-height: 300px;
	}

	.team-member-review h2{
	margin: 0;
	padding: 50px 0 20px 0;
	text-transform: uppercase;
}

.contact-us {
	padding-top: 50px;
}

.contact-us-content {
	padding-left: 30px;
}

.contact-us .social-links {

	margin: 10px 0;
}


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.about-us-background h2{
		left: 15%;
		top: 35%;
	}

	.team-caption h2{
		left: 15%;	
	}

	.contact-us-content {
	padding-left: 0px;
}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
	.header-menu ul{
		display: block !important;
	}
	
}